body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 550px;
    width: 550px;
    height: 650px;
    background-color: #14191b;
    border-radius: 20px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
    border: 2px #3c3f41;
    box-shadow: 0 0 5px 5px rgba(60, 63, 65, 0.53);
}

.container h1 {
    font-size: 32px;
    color: #d1d8dd;
}

.container p {
    font-size: 14px;
    color: #5f6060;
}

input {
    width: 98%;
    height: 65px;
    border-radius: 35px;
    background-color: #14191b;
    box-shadow: 0 0 5px 5px rgba(60, 63, 65, 0.53);
}

input .input-label {
    position: absolute;
    left: 10px;
    top: 19px;
    font-size: 14px;
    color: #5f6060;
}

input:hover .input-label {
    color: #732bd6;
}

input:focus .input-label {
    color: #a163f9;
}

input .in-icon-container {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-icon-container .in-icon {
    font-size: 18px;
}

input .in-text-container {
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left: 10px;
}

input .in-text-container .input-text {
    font-size: 15px;
    width: 100%;
    color: #808080;
    text-wrap: nowrap;
}

input .in-text-container .input-cursor {
    width: 2px;
    height: 20px;
    background: #d4d4f3;
}

.splitter-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.splitter-container .divider {
    flex-grow: 1;
    height: 1px;
    background-color: #616161;
}

.splitter-container h3 {
    font-size: 16px;
    color: #616161;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    width: 75%;
    height: 65px;
    border-radius: 35px;
    background-color: #8534f5;
}

button:hover {
    background-color: #732bd6;
}

.button-text {
    font-size: 15px;
    color: #d4d4f3;;
}

#debug-login {
    background-color: #cb2c70;
}

#debug-login:hover {
    background-color: #a2295e;
}
