body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
}

.header {
    height: 5%;
    width: 100%;
    min-height: 70px;
}

.left-top-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 35px;
    padding: 0 25px;
}

.left-top-container p {
    font-size: 20px;
    color: #86efba;
}

.right-top-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 35px;
    padding: 0 25px;
}

.right-top-container img {
    width: 60px;
    height: 60px;
    color: white;
}

.left-center-container {
    width: 300px;
    height: 95%;
    padding: 200px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.left-center-container .entry-card {
    width: 100%;
    height: 100px;
    border-radius: 30px;
    display: flex;
    justify-content: end;
    padding: 0 25px;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.entry-card .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 5px;
    height: 100%;
    width: 125px;
}

.entry-card .info-container slider {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    border: 1px #333;
}

.info-container slider .track {
    background-color: #00ff8c;
    border-radius: 5px;
    height: 100%;
}

.entry-card .info-container .entry-text {
    font-size: 18px;
    color: #ffffff;
}

.entry-card .slot {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.entry-card .slot p {
    font-size: 18px;
    color: #000000;
}

.entry-card img {
    width: 98px;
    height: 98px;
}


.collect-dialog {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 60%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collect-dialog .dialog-box {
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 1px;
    border-color: #aeb4c4;
}

.dialog-box .dialog-title {
    font-size: 20px;
    color: #9857fb;
}

.dialog-box .icon {
    width: 60px;
    height: 60px;
}

.dialog-box .text {
    font-size: 14px;
    color: #aeb4c4;
}